<section class="content ">
    <div class="content-block">
        <div class="block-header ">
            <!-- breadcrumb -->
            <!-- <app-breadcrumb [title]="'Ambulance List'" [items]="['Ambulance']" [active_item]="'List'">
        </app-breadcrumb> -->
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong> AWB INSCAN</strong></h2>

                    </div>
                    <div class="body">
                        <form>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Receiving</mat-label>
                                        <input matInput required>

                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Bag Number</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Awb Number</mat-label>
                                        <input matInput required>

                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Weight</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button class="btn-space" mat-raised-button color="primary">Save</button>
                                    <button type="button" mat-raised-button color="warn">Reset</button>
                                </div>
                            </div>
                        </form>
                        <div class="mt-4 table-responsive">
                            <div class="table table-bordered">
                                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Origin Office</th>
                                        <th>Destination</th>
                                        <th>Tatal Awb</th>
                                        <th>Mode</th>
                                        <th>Total Weight</th>
                                        <th>Dispatch Date</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>f</td>
                                        <td>f</td>
                                        <td>f</td>
                                        <td>f</td>
                                        <td>f</td>
                                        <td>f</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            </div>
        
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</section>