<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Sign Up </h2>
          <p class="auth-signup-text text-muted">Enter details to create your account</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="FirstName" required>
                  
                  <mat-error *ngIf="authForm.get('FirstName').hasError('required')">
                    First Name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="LastName">
                  
                 
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="Email" required>
                  
                  <mat-error *ngIf="authForm.get('Email').hasError('required') || authForm.get('Email').touched">
                  Enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Mobile</mat-label>
                  <input matInput formControlName="Mobile"  type="text" required >
                 
                  <mat-error *ngIf="authForm.get('Mobile').hasError('required')">
                    Mobile number is required
                  </mat-error>

                  <div   *ngIf="!authForm.controls.Mobile.valid">

                  </div>
                  <mat-error *ngIf="authForm.controls.Mobile.errors?.pattern">Enter 10 digit mobile number.</mat-error>
                </mat-form-field>
              </div>
            </div>
           
            <div class="row">
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Company</mat-label>
                  <mat-select formControlName="Company">
                    <mat-option *ngFor="let company of this.compnaylist" [value]="company.company_id">
                      {{company.name}}
                      </mat-option>
                  </mat-select>
                  
                  <mat-error *ngIf="authForm.get('Company').hasError('required') ">
                    Company  is required
                  </mat-error>
                </mat-form-field>
              </div>
          
              <div class="col-xl-6 col-lg-6  mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Office</mat-label>
                  <mat-select formControlName="Office">
                    <mat-option *ngFor="let office of this.officelist" [value]="office.office_id">
                      {{office.office_name}}
                      </mat-option>
                  </mat-select>
                  
                  <mat-error *ngIf="authForm.get('Office').hasError('required') ">
                    Office is required
                  </mat-error>
                </mat-form-field>
              </div>
           
            </div>
           
            <div class="flex-sb-m w-full  p-b-20">
              <div>
                <span>Already Registered? <a routerLink="/authentication/signin">
                    Login
                  </a></span>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Register
              </button>
            </div>
          </form>
          <h6 class="social-login-title">OR</h6>
          <ul class="list-unstyled social-icon mb-0 mt-3">
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-google"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded flex-c-m">
                <i class="fab fa-facebook-f"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-twitter"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-linkedin-in"></i>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
