<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
          <div class="modalHeader clearfix">
            <!-- <img [src]='appointment.img' alt="avatar"> -->
            <div class="modal-about">
           {{this.dialogtitle}}
            </div>
          </div>
        </div>
        <button mat-icon-button (click)="onNoClick()" class="modal-close-button" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="formdata">
          <div class="row" *ngIf="data.tabledatadeatils.dailogPage!='statusDailog'">
            <div class="col-md-6  mb-2" [ngClass]="{'col-md-12':data.tabledatadeatils.dailogPage!='userDailog'}">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{data.tabledatadeatils.dailogPage!='userDailog'?'First Name':'Name'}}</mat-label>
                <input matInput formControlName="CommonName">
                <!-- <mat-icon matSuffix>face</mat-icon> -->
                <mat-error *ngIf="formdata.get('CommonName').hasError('required')">
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-2" *ngIf="data.popupForm!='roleDailog' && data.tabledatadeatils.dailogPage!='roleDailog'
            ">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <!-- <mat-icon matSuffix>face</mat-icon> -->
               
              </mat-form-field>
            </div>
        </div>
      <div *ngIf="data.popupForm!='roleDailog' && data.tabledatadeatils.dailogPage!='roleDailog' && data.tabledatadeatils.dailogPage!='statusDailog'">
         
        <div class="row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email">
              <!-- <mat-icon matSuffix>face</mat-icon> -->
             
            </mat-form-field>
          </div>
     
        <div class="col-md-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile">
            <!-- <mat-icon matSuffix>face</mat-icon> -->
           
          </mat-form-field>
        </div>
        </div>
          <div class="row">
            <div class="col-md-6 mb-2">
             
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Select company</mat-label>
                <mat-select formControlName="company" (change)="change($event)">
                  <mat-option *ngFor="let item of data.tabledatadeatils.companylist" [value]="item.company_id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            </div>
      
          <div class="col-md-6 mb-2">
           
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select office</mat-label>
              <mat-select formControlName="office" (selectionChange)="change($event)">
                <mat-option *ngFor="let item of data.tabledatadeatils.officelist" [value]="item.office_id">
                  {{ item.office_name }}{{item.office_id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
         
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select Role</mat-label>
            <mat-select formControlName="role" (change)="change($event)">
              <mat-option *ngFor="let item of data.tabledatadeatils.rolelist" [value]="item.role_id">
                {{ item.role_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
        <label>Upload Profile Picture <small>(Max file size 50kb)</small></label>
        <app-file-upload (ngModelChange)="change($event)" [acceptonly]="acceptonly" formControlName="uploadFile"></app-file-upload>
      </div>
    </div>
      </div>
      <div class="row" *ngIf="this.data.tabledatadeatils.dailogPage=='userDailog'||this.data.tabledatadeatils.dailogPage=='statusDailog'">
        <div class="col-md-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{this.data.tabledatadeatils.dailogPage=='userDailog'?'Update Password':'Create Password'}}</mat-label>
            <input matInput formControlName="password">
             <mat-icon matSuffix>vpn_key</mat-icon>
           
          </mat-form-field>
          
        </div>
    </div>

         
        <div class="row"  *ngIf="data.tabledatadeatils.dailogPage!='statusDailog'">
            <div class="col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{this.data.tabledatadeatils.dailogPage=='userDailog'?'Address':'Description'}}</mat-label>
                <textarea matInput formControlName="description"></textarea>
               
                <!-- <mat-icon matSuffix>face</mat-icon> -->
                
              </mat-form-field>
            </div>
        </div>
      
       
      
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
             
              <div class="example-button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="!formdata.valid"
                  [mat-dialog-close]="1" (click)="onSubmit(data.actionName,this.data.tabledatadeatils.id)">Save</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
              </div>
            </div>
          </div>
        </form>
        </div>
    </div>