<section class="content">
  <div class="content-block">
    <!-- <div class="block-header">
     
      <app-breadcrumb [title]="'Profile'" [items]="['Doctors']" [active_item]="'Profile'"></app-breadcrumb>
    </div> -->
 
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{this.UserDetais[0]?.first_name+" " +this.UserDetais[0]?.last_name }}</div>
                <div class="name-center">Senior Doctor</div>
              </div>
              <div class="profileimg">
                <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
                <button (click)="onuploadProfileimg()">
                  <i class="material-icons">image</i>
                </button>
               
               
             </div>
              <div class="example-button-row mb-2">
                <!-- <button mat-raised-button color="primary" type="button" 
                   (click)="editprofile(this.UserDetais[0])">Edit Profile</button> -->
              </div>
             <hr>
              <div class="mt-2">
                <span class="phone">
                  <i class="material-icons">phone</i> {{this.UserDetais[0]?.mobile}}</span>
              </div>
             
                <div class="mb-1">Address</div>
                <p class="mt-2">{{this.UserDetais[0]?.address}}</p>
            
            </div>
          </div>
        </div>
        <div class="card ">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Change Password">
          <form class="register-form m-4" [formGroup]="formdata">
            <div class="row">
              <div class="col-md-12 col-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input matInput type="password" formControlName="oldpassword">
                   <mat-icon matSuffix>vpn_key</mat-icon>
                  
                  
               
                </mat-form-field>
                <mat-error  *ngIf="formdata.controls['oldpassword'].hasError('required') && formdata.controls['oldpassword'].touched">
                  Old password required
                 </mat-error>
                </div>
              <div class="col-md-12 col-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
             <mat-icon matSuffix>vpn_key</mat-icon>
           
          </mat-form-field>
          <ng-container *ngFor="let error of error_messages.password">
            <mat-error  *ngIf="formdata.get('password').hasError(error.type) && (formdata.get('password').dirty || formdata.get('password').touched)">
             <div >
               {{ error.message }}
             </div>
          </mat-error>
         </ng-container>
          </div>
          <div class="col-md-12 col-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmpassword">
             <mat-icon matSuffix>vpn_key</mat-icon>
         
          </mat-form-field>
          <ng-container *ngFor="let error of error_messages.confirmpassword">
            <mat-error  *ngIf="formdata.get('confirmpassword').hasError(error.type) && (formdata.get('confirmpassword').dirty || formdata.get('confirmpassword').touched)">
             <div >
               {{ error.message }}
             </div>
          </mat-error>
         </ng-container>
        </div>
      </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formdata.valid"
          [mat-dialog-close]="1" (click)="onSubmit()">Save</button>
         </form>
         </mat-tab>
         </mat-tab-group>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                 
                  <div class="body">
                    <div class="row">
                      <div class="col-md-12 col-12 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.first_name+" " +this.UserDetais[0]?.last_name }}</p>
                      </div>
                      <div class="col-md-12 col-12">
                        <strong>Gender</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.gender }}</p>
                      </div>
                      <div class="col-md-12 col-12">
                        <strong>Date Of Birth</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.dob|date: 'd/M/y' }}</p>
                      </div>
                      <div class="col-md-12 col-12 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.mobile}}</p>
                      </div>
                      <div class="col-md-12 col-12 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.email}}</p>
                      </div>
                      <div class="col-md-12 col-12">
                        <strong>Company</strong>
                        <br>
                        <p class="text-muted">{{this.UserDetais[0]?.company_id }}</p>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
          
             
            </mat-tab>

            
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
