<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='appointment.img' alt="avatar"> -->
                <div class="modal-about">
                    {{dialogtitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content style="overflow: auto;min-height: 80vh !important;">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="activeTab">
            <mat-tab label="General Detail">
                <ng-container [ngTemplateOutlet]="genral">
                </ng-container>
            </mat-tab>
            <mat-tab label="Consignor Detail" *ngIf="EnableConsignorTab">
                <ng-container [ngTemplateOutlet]="consignor" >
                </ng-container>
            </mat-tab>
            
            <mat-tab label="Consingment Detail">
                <ng-container [ngTemplateOutlet]="consingment">
                </ng-container>
            </mat-tab>
        </mat-tab-group>
        <ng-template #genral>
            <form class="register-form m-4" #generalForm    [formGroup]="formdata">

                <div class="row">
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>AWB Number</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="awb_number" matInput  >
                                        
                                    <!-- <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="awb_id" matInput style="visibility: hidden;"> -->
                                    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,awbTypes,'AwbId','AwbPrefix')">
                                        <mat-option *ngFor="let option of filteredAwbTypes | async"
                                            [value]="option.AwbId">
                                            {{option.AwbPrefix}}
                                        </mat-option>
                                    </mat-autocomplete> -->
                                    <mat-error *ngIf="formdata.get('awb_number').hasError('required')">
                                        This is required
                                    </mat-error>
                                   
                                  
                                </mat-form-field>
                                <div style="font-size: 12px;margin-top: -18px;" class="mat-mdc-form-field-error mat-mdc-form-field-bottom-align ng-tns-c99-13 ng-star-inserted" *ngIf="!formdata?.controls?.awb_id?.value && !formdata.get('awb_number').hasError('required') ">
                                    No AWB Number found.
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Booking Office/ Client Name</mat-label>
                                    <input type="text" readonly placeholder="Pick one" aria-label="Number"
                                        formControlName="booking_office_id" matInput [matAutocomplete]="office">
                                    <mat-autocomplete autoActiveFirstOption #office="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,offices,'Id','OfficeName')">
                                        <mat-option *ngFor="let option of offices " [value]="option.Id">
                                            {{option.OfficeName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('booking_office_id').hasError('required')">
                                        Booking Office is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('booking_office_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Booking Date</mat-label>

                                    <input matInput [matDatepicker]="picker" formControlName="booking_date">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="formdata.get('booking_date').hasError('required')">
                                        Booking Date is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('booking_date').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Origin Pincode</mat-label>
                                    <input type="text" readonly placeholder="Pick one" aria-label="Number"
                                        formControlName="origin_pincode_id" matInput [matAutocomplete]="originpin">
                                    <mat-autocomplete autoActiveFirstOption #originpin="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,originPincodes,'Id','PostCode')">
                                        <mat-option *ngFor="let option of originPincodes " [value]="option.Id">
                                            {{option.PostCode}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('origin_pincode_id').hasError('required')">
                                        Origin Pincode is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('origin_pincode_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Destination Pincode</mat-label>
                                    <input type="text" [listValidator]="filteredDestinationPincodes | async" [validatorKey]="'Id'" placeholder="Pick one" aria-label="Number"
                                        formControlName="destination_pincode_id" matInput [matAutocomplete]="destpostcode">
                                    <mat-autocomplete autoActiveFirstOption #destpostcode="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,destinationPincodes,'Id','PostCode')">
                                        <mat-option *ngFor="let option of filteredDestinationPincodes | async"
                                            [value]="option.Id">
                                            {{option.PostCode}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('destination_pincode_id').hasError('required')">
                                        Destination Pincode is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('destination_pincode_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Destination Locality</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredDestinationLocalities | async" [validatorKey]="'Id'" aria-label="Number"
                                        formControlName="destination_locality_id" matInput [matAutocomplete]="destlocali">
                                    <mat-autocomplete autoActiveFirstOption #destlocali="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,destinationLocalities,'Id','LocalityName')">
                                        <mat-option *ngFor="let option of filteredDestinationLocalities | async"
                                            [value]="option.Id">
                                            {{option.LocalityName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('destination_locality_id').hasError('required')">
                                        Destination Locality is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('destination_locality_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Destination City</mat-label>
                                    <input type="text" placeholder="Pick one"  [listValidator]="filteredDestinationCities | async" [validatorKey]="'city_id'"  aria-label="Number"
                                        formControlName="destionation_city_id" matInput [matAutocomplete]="destcity">
                                    <mat-autocomplete autoActiveFirstOption #destcity="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,destinationCities,'city_id','city_name')">
                                        <mat-option *ngFor="let option of filteredDestinationCities | async"
                                            [value]="option.city_id">
                                            {{option.city_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('destionation_city_id').hasError('required')">
                                        Destination City is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('destionation_city_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Service Mode</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="service_mode_id" [listValidator]="serviceModes" [validatorKey]="'Id'" matInput [matAutocomplete]="servicemode">
                                    <mat-autocomplete autoActiveFirstOption #servicemode="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,serviceModes,'Id','ServiceMode')">
                                        <mat-option *ngFor="let option of filteredServiceMode | async"
                                            [value]="option.Id">
                                            {{option.ServiceMode}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('service_mode_id').hasError('required')">
                                        AWB Type is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('service_mode_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Delivery Mode</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredDeliveryModes | async" [validatorKey]="'Id'" aria-label="Number"
                                        formControlName="delivery_mode_id" matInput [matAutocomplete]="deliverymode">
                                    <mat-autocomplete autoActiveFirstOption #deliverymode="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,deliveryModes,'Id','DeliveryMode')">
                                        <mat-option *ngFor="let option of filteredDeliveryModes | async"
                                            [value]="option.Id">
                                            {{option.DeliveryMode}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('delivery_mode_id').hasError('required')">
                                        AWB Type is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('delivery_mode_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">

                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>No Of Packets</mat-label>
                                    <input matInput formControlName="no_of_packets" max="999" type="number">
                                    <mat-error *ngIf="formdata.get('no_of_packets').hasError('required')">
                                        No Of Packets is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('no_of_packets').hasError('max')">
                                        value must be less than 999.
                                    </mat-error>
                                </mat-form-field>
                                <!-- <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>No Of Packets</mat-label>
                                    <input type="number" placeholder="Pick one" [max]="999" aria-label="Number"
                                        formControlName="no_of_packets" >
                                    <mat-error *ngIf="formdata.get('no_of_packets').hasError('required')">
                                        No Of Packets is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('no_of_packets').hasError('max')">
                                        value must be less than 999.
                                    </mat-error>
                                   
                                </mat-form-field> -->
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Actual Weight</mat-label>
                                    <input matInput formControlName="actual_weight" max="99999" type="number">
                                    <mat-error *ngIf="formdata.get('actual_weight').hasError('required')">
                                        Actual Weight is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('actual_weight').hasError('max')">
                                        value must be less than 999.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Length</mat-label>
                                    <input type="number" placeholder="Length" [dimensionValidator] aria-label="Number"
                                        formControlName="length" matInput>
                                    <mat-error *ngIf="formdata.get('length').hasError('dimension')">
                                        Required
                                    </mat-error>
                                   
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Width</mat-label>
                                    <input type="number" placeholder="Length" [dimensionValidator] aria-label="Number"
                                        formControlName="width" matInput>
                                    <mat-error *ngIf="formdata.get('width').hasError('dimension')">
                                       Required
                                    </mat-error>
                                    
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Heigth</mat-label>
                                    <input type="number" placeholder="Length" [dimensionValidator] aria-label="Number"
                                        formControlName="height" matInput>
                                    <mat-error *ngIf="formdata.get('height').hasError('dimension')">
                                       Required
                                    </mat-error>
                                   
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Chargeable Weight</mat-label>
                                    <input type="text" readonly placeholder="Pick one" aria-label="Number"
                                        formControlName="chargeable_weight" matInput >
                                    <mat-error *ngIf="formdata.get('chargeable_weight').hasError('required')">
                                        Chargeable Weight is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('chargeable_weight').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Payment Mode</mat-label>
                                    <input type="text" placeholder="Pick one" readonly aria-label="Number"
                                        formControlName="payment_mode_id" matInput [matAutocomplete]="paymentmode">
                                    <mat-autocomplete autoActiveFirstOption #paymentmode="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,paymentModes,'Id','PaymentMode')">
                                        <mat-option *ngFor="let option of filteredPaymentModes | async"
                                            [value]="option.Id">
                                            {{option.PaymentMode}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="formdata.get('payment_mode_id').hasError('required')">
                                        Payment Mode is required
                                    </mat-error>
                                    <mat-error *ngIf="formdata.get('payment_mode_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <!-- <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                        <div class="example-button-row">
                            <button mat-raised-button color="primary" type="button" [disabled]="!formdata.valid"
                                (click)="onSubmit()">Save</button>
                            <button mat-raised-button color="warn" (click)="close()" tabindex="-1">Cancel</button>
                        </div>
                    </div>
                </div> -->
            </form>
        </ng-template>

        <ng-template #consignor >
            <form class="register-form m-4"  #consignForm [formGroup]="consignorForm">
                <div class="row">
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignor Mobile No.</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignor_mobile" matInput [matAutocomplete]="consigMob">
                                    <mat-autocomplete autoActiveFirstOption #consigMob="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredConsignorMobileNos | async"
                                            [value]="option.MobileNo">
                                            {{option.MobileNo}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('consignor_mobile').hasError('required')">
                                        This Field is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignor_mobile').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignor Name</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignor_name" matInput >
                                    <mat-error *ngIf="consignorForm.get('consignor_name').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignor_name').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignor Address</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignor_address" matInput >
                                    <mat-error *ngIf="consignorForm.get('consignor_address').hasError('required')">
                                        This Field is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignor_address').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredConsignorStates | async" [validatorKey]="'Id'"  aria-label="Number"
                                        formControlName="consignor_state_id" matInput [matAutocomplete]="consignState">
                                    <mat-autocomplete autoActiveFirstOption #consignState="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consignorStates,'Id','Name')">
                                        <mat-option *ngFor="let option of filteredConsignorStates | async"
                                            [value]="option.Id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('consignor_state_id').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignor_state_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredConsignorCities | async" [validatorKey]="'Id'"  aria-label="Number"
                                        formControlName="consignor_city_id" matInput [matAutocomplete]="consignCity">
                                    <mat-autocomplete autoActiveFirstOption #consignCity="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consignorCities,'Id','Name')">
                                        <mat-option *ngFor="let option of filteredConsignorCities | async"
                                            [value]="option.Id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('consignor_city_id').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignor_city_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            


                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignee Mobile No.</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignee_mobile" matInput >
                                    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consigneeMobileNos,'MobileNo','MobileNo')">
                                        <mat-option *ngFor="let option of filteredConsigneeMobileNos | async"
                                            [value]="option.MobileNo">
                                            {{option.MobileNo}}
                                        </mat-option>
                                    </mat-autocomplete> -->
                                    <mat-error *ngIf="consignorForm.get('consignee_mobile').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignee_mobile').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignee Name</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignee_name" matInput>
                                    <mat-error *ngIf="consignorForm.get('consignee_name').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignee_name').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consignee Address</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignee_address" matInput>
                                    <mat-error *ngIf="consignorForm.get('consignee_address').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignee_address').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredConsigneeStates | async" [validatorKey]="'Id'"  aria-label="Number"
                                        formControlName="consignee_state_id" matInput [matAutocomplete]="consigneeState">
                                    <mat-autocomplete autoActiveFirstOption #consigneeState="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consigneeStates,'Id','Name')">
                                        <mat-option *ngFor="let option of filteredConsigneeStates | async"
                                            [value]="option.Id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('consignee_state_id').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignee_state_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input type="text" placeholder="Pick one" [listValidator]="filteredConsigneeCities | async" [validatorKey]="'Id'"  aria-label="Number"
                                        formControlName="consignee_city_id" matInput [matAutocomplete]="consigneeCity">
                                    <mat-autocomplete autoActiveFirstOption #consigneeCity="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consigneeCities,'Id','Name')">
                                        <mat-option *ngFor="let option of filteredConsigneeCities | async"
                                            [value]="option.Id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('consignee_city_id').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('consignee_city_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Amount</mat-label>
                                    <input type="number" placeholder="Pick one" aria-label="Number"
                                        formControlName="amount" matInput>

                                    <mat-error *ngIf="consignorForm.get('amount').hasError('required')">
                                        This is required
                                    </mat-error>
                                   
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>GST</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="gst_rate_id" matInput [matAutocomplete]="gstrates">
                                    <mat-autocomplete autoActiveFirstOption #gstrates="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,gstRates,'Id','Name')">
                                        <mat-option *ngFor="let option of filteredGSTRates | async"
                                            [value]="option.Id">
                                            {{option.Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consignorForm.get('gst_rate_id').hasError('required')">
                                        This is required
                                    </mat-error>
                                    <mat-error *ngIf="consignorForm.get('gst_rate_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Total Payble</mat-label>
                                    <input type="number" placeholder="Pick one" aria-label="Number"
                                        formControlName="total_amount" matInput>
                                    <mat-error *ngIf="consignorForm.get('total_amount').hasError('required')">
                                       This is required
                                    </mat-error>
                                    
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>

        <ng-template #consingment>
            <form class="register-form m-4" #consingmenForm [formGroup]="consingmentForm">
                <div class="row">
                    <div class="col-md-4 col-sm-4 mb-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consingment Type</mat-label>
                                    <input type="text" readonly placeholder="Pick one" aria-label="Number"
                                        formControlName="consignment_type_id" matInput [matAutocomplete]="consingmentAuto">
                                    <mat-autocomplete autoActiveFirstOption #consingmentAuto="matAutocomplete"
                                        [displayWith]="displayFunc.bind(this,consingmentTypes,'Id','ConsingmentType')">
                                        <mat-option *ngFor="let option of filteredConsingmentTypes | async"
                                            [value]="option.Id">
                                            {{option.ConsingmentType}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="consingmentForm.get('consignment_type_id').hasError('required')">
                                        Consingment Type is required
                                    </mat-error>
                                    <mat-error *ngIf="consingmentForm.get('consignment_type_id').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Consingment Value</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="consignment_value" matInput >
                                    <mat-error *ngIf="consingmentForm.get('consignment_value').hasError('required')">
                                        Booking Date is required
                                    </mat-error>
                                    <mat-error *ngIf="consingmentForm.get('consignment_value').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Invoice Number</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="invoice_number" matInput >
                                    <mat-error *ngIf="consingmentForm.get('invoice_number').hasError('required')">
                                        Booking Date is required
                                    </mat-error>
                                    <mat-error *ngIf="consingmentForm.get('invoice_number').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>EWAY Bill No.</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="eway_bill_no" matInput >
                                    <mat-error *ngIf="consingmentForm.get('eway_bill_no').hasError('required')">
                                        Booking Date is required
                                    </mat-error>
                                    <mat-error *ngIf="consingmentForm.get('eway_bill_no').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>GST No.</mat-label>
                                    <input type="text" placeholder="Pick one" aria-label="Number"
                                        formControlName="gst_number" matInput >
                                    <mat-error *ngIf="consingmentForm.get('gst_number').hasError('required')">
                                        Booking Date is required
                                    </mat-error>
                                    <mat-error *ngIf="consingmentForm.get('gst_number').hasError('invalid')">
                                        Please select from list.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="button" 
                        (click)="onSubmit()">Save</button>
                    <button mat-raised-button color="warn" (click)="close()" tabindex="-1">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>