<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='appointment.img' alt="avatar"> -->
                <div class="modal-about">
                    {{dialogtitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="formdata">

            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>AWB Type</mat-label>
                        <input type="text" placeholder="Pick one" [listValidator]="filteredAwbTypes | async" [validatorKey]="'id'" aria-label="Number" formControlName="awbtype" matInput [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayAwbName.bind(this)" >
                            <mat-option *ngFor="let option of filteredAwbTypes | async" [value]="option.id">
                                {{option.AwbType}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formdata.get('awbtype').hasError('required')">
                            AWB Type is required
                        </mat-error>
                        <mat-error *ngIf="formdata.get('awbtype').hasError('invalid')">
                            Please select from list.
                        </mat-error>
                    </mat-form-field>
                    
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Office Name</mat-label>
                        <input type="text" [listValidator]="filteredOffices | async" [validatorKey]="'officeId'" placeholder="Pick one" aria-label="Number" formControlName="office" matInput [matAutocomplete]="office">
                        <mat-autocomplete autoActiveFirstOption [displayWith]="displayOfficeName.bind(this)" #office="matAutocomplete" >
                            <mat-option *ngFor="let option of filteredOffices | async" [value]="option.officeId">
                                {{option.office}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formdata.get('office').hasError('required')">
                            Office Name is required
                        </mat-error>
                        <mat-error *ngIf="formdata.get('office').hasError('invalid')">
                            Please select from list.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Rate</mat-label>
                        <input matInput formControlName="rate" type="number">
                        <mat-error *ngIf="formdata.get('rate').hasError('required')">
                            Rate is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Valid Till</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="validtill">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="formdata.get('validtill').hasError('required')">
                            Valid Till is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="button" [disabled]="!formdata.valid"
                            (click)="onSubmit()">Save</button>
                        <button mat-raised-button color="warn" (click)="close()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>