<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='appointment.img' alt="avatar"> -->
                <div class="modal-about">
                    {{this.dialogtitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="onNoClick()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>

        <form class="register-form m-4" [formGroup]="locationTarrifForm"
            *ngIf="this.data.tabledatadeatils.dailogPage=='locationTarrifDailog'">

            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="lt_name">
                        <mat-error *ngIf="locationTarrifForm.get('lt_name').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h5>From</h5>

            <div class="row">
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select (change)="onChangeDrowpDown(locationTarrifForm.value.from_country)" 
                            formControlName="from_country" name="from_country" placeholder="Select Country"  (search)="Searcheddata($event,'country')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_country'].invalid}">
                     <ng-option *ngFor="let item of countrylist" [value]="item.country_id">{{item.country_name}} </ng-option>
                    </ng-select>
                    
                    
                    <!-- <div *ngIf="contractTarrifForm.controls['rate_tarrif'].touched && contractTarrifForm.controls['rate_tarrif'].invalid">
                
                      <mat-error *ngIf="contractTarrifForm.get('rate_tarrif').hasError('required')">
                         Rate Tarrif is required
                      </mat-error>
                       <mat-error *ngIf="contractTarrifForm.get('rate_tarrif').hasError('invalid')">
                        Please select from list.
                       </mat-error> 
                    </div> -->


                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_zone)"
                            formControlName="from_zone" name="from_zone"
                            placeholder="Select Zone"  (search)="Searcheddata($event,'zone')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_zone'].invalid}">
                     <ng-option
                              *ngFor="let item of zonelist" 
                             [value]="item.zone_id">{{item.zone_name}}
                     </ng-option>
                    </ng-select>

                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_region)"
                            formControlName="from_region" name="from_region"
                            placeholder="Select Region"  (search)="Searcheddata($event,'region')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_region'].invalid}">
                     <ng-option
                              *ngFor="let item of regionlist" 
                             [value]="item.region_id">{{item.region_name}}
                     </ng-option>
                    </ng-select>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_state)"
                            formControlName="from_state" name="from_state"
                            placeholder="Select State"  (search)="Searcheddata($event,'state')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_state'].invalid}">
                     <ng-option
                              *ngFor="let item of statelist" 
                             [value]="item.state_id">{{item.state_name}}
                     </ng-option>
                    </ng-select>


                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_city)"
                            formControlName="from_city" name="from_city"
                            placeholder="Select City"  (search)="Searcheddata($event,'city')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_city'].invalid}">
                     <ng-option
                              *ngFor="let item of citylist" 
                             [value]="item.city_id">{{item.city_name}}
                     </ng-option>
                    </ng-select>


                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_post_code)"
                            formControlName="from_post_code" name="from_post_code"
                            placeholder="Select Pin Code"  (search)="Searcheddata($event,'postcode')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_post_code'].invalid}">
                     <ng-option
                              *ngFor="let item of pincodelist" 
                             [value]="item.post_code_id">{{item.post_code}}
                     </ng-option>
                    </ng-select>


                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.from_locality)"
                            formControlName="from_locality" name="from_locality"
                            placeholder="Select Locality"  (search)="Searcheddata($event,'locality')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['from_locality'].invalid}">
                     <ng-option
                              *ngFor="let item of localitylist" 
                             [value]="item.locality_id">{{item.locality_name}}
                     </ng-option>
                    </ng-select>


                </div>

            </div>
            <h5>To</h5>

            <div class="row">
                <div class="col-md-4 col-sm-4 mb-2">
                   
                    <ng-select
                            (change)="onChangeDrowpDown(locationTarrifForm.value.to_country)"
                              formControlName="to_country" name="to_country"
                                 placeholder="Select Country"  (search)="Searcheddata($event,'country')"
                                  class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_country'].invalid}">
                      <ng-option
                                *ngFor="let item of countrylist" 
                                 [value]="item.country_id">{{item.country_name}}
                      </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                                (change)="onChangeDrowpDown(locationTarrifForm.value.to_zone)"
                                 formControlName="to_zone" name="to_zone"
                                   placeholder="Select Zone"  (search)="Searcheddata($event,'zone')"
                                     class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_zone'].invalid}">
                          <ng-option
                                    *ngFor="let item of zonelist" 
                                    [value]="item.zone_id">{{item.zone_name}}
                          </ng-option>
                    </ng-select>

                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                                (change)="onChangeDrowpDown(locationTarrifForm.value.to_region)"
                                 formControlName="to_region" name="to_region"
                               placeholder="Select Region"  (search)="Searcheddata($event,'region')"
                               class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_region'].invalid}">
                      <ng-option
                               *ngFor="let item of regionlist" 
                             [value]="item.region_id">{{item.region_name}}
                      </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.to_state)"
                          formControlName="to_state" name="to_state"
                           placeholder="Select State"  (search)="Searcheddata($event,'state')"
                            class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_state'].invalid}">
                       <ng-option
                              *ngFor="let item of statelist" 
                              [value]="item.state_id">{{item.state_name}}
                       </ng-option>
                    </ng-select>

                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                   
                    <ng-select
                          (change)="onChangeDrowpDown(locationTarrifForm.value.to_city)"
                          formControlName="to_city" name="to_city"
                           placeholder="Select City"  (search)="Searcheddata($event,'city')"
                              class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_city'].invalid}">
                       <ng-option
                                *ngFor="let item of citylist" 
                               [value]="item.city_id">{{item.city_name}}
                       </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-4 col-sm-4 mb-2">
                    
                    <ng-select
                         (change)="onChangeDrowpDown(locationTarrifForm.value.to_post_code)"
                            formControlName="to_post_code" name="to_post_code"
                            placeholder="Select Pin Code"  (search)="Searcheddata($event,'postcode')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_post_code'].invalid}">
                     <ng-option
                              *ngFor="let item of pincodelist" 
                             [value]="item.post_code_id">{{item.post_code}}
                     </ng-option>
                    </ng-select>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2">
                  
                    <ng-select
                                 (change)="onChangeDrowpDown(locationTarrifForm.value.to_locality)"
                             formControlName="to_locality" name="to_locality"
                            placeholder="Select Locality"  (search)="Searcheddata($event,'locality')"
                            class="ng-select-bold-border chips-control" [ngClass]="{'error': locationTarrifForm.controls['to_locality'].invalid}">
                          <ng-option
                                *ngFor="let item of localitylist" 
                              [value]="item.locality_id">{{item.locality_name}}
                          </ng-option>
                     </ng-select>


                </div>

            </div>


            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="1"
                            [disabled]="!locationTarrifForm.valid || saveDisable"
                            (click)="onlocationTarrifSubmit(data.actionName,data.tabledatadeatils.Id)">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
        <form class="register-form m-4" [formGroup]="contractTarrifForm"
            *ngIf="this.data.tabledatadeatils.dailogPage=='contractTarrifDailog'">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" [readonly]="data.actionName=='Edit'">
                        <!-- <mat-icon matSuffix>face</mat-icon> -->
                        <mat-error *ngIf="contractTarrifForm.get('name').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-6 mb-2">

                    <ng-select (change)="onChangeDrowpDown(contractTarrifForm.value.rate_tarrif)"
                        formControlName="rate_tarrif" name="rate_tarrif" placeholder="Select Rate Tarrif"
                        (search)="Searcheddata($event,'rate')" class="ng-select-bold-border chips-control"
                        [ngClass]="{'error': contractTarrifForm.controls['rate_tarrif'].invalid}">
                        <ng-option *ngFor="let item of ratetarflist" [value]="item.rt_id">{{item.rt_name}}</ng-option>
                    </ng-select>
                    <div
                        *ngIf="contractTarrifForm.controls['rate_tarrif'].touched && contractTarrifForm.controls['rate_tarrif'].invalid">

                        <mat-error *ngIf="contractTarrifForm.get('rate_tarrif').hasError('required')">
                            Rate Tarrif is required
                        </mat-error>
                        <mat-error *ngIf="contractTarrifForm.get('rate_tarrif').hasError('invalid')">
                            Please select from list.
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-2">
                    
                    <ng-select (change)="onChangeDrowpDown(contractTarrifForm.value.customer)"
                        formControlName="customer" name="customer" placeholder="Select Customer"
                        (search)="Searcheddata($event,'customer')" class="ng-select-bold-border chips-control"
                        [ngClass]="{'error': contractTarrifForm.controls['customer'].invalid}">
                        <ng-option *ngFor="let item of customerslist"
                            [value]="item.customer_id">{{item.customer_name}}</ng-option>
                    </ng-select>
                    <div
                        *ngIf="contractTarrifForm.controls['customer'].touched && contractTarrifForm.controls['customer'].invalid">

                        <mat-error *ngIf="contractTarrifForm.get('customer').hasError('required')">
                            customer is required
                        </mat-error>
                        <mat-error *ngIf="contractTarrifForm.get('customer').hasError('invalid')">
                            Please select from list.
                        </mat-error>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>GST%</mat-label>
                        <input matInput type="number" min="1" formControlName="gst">
                        <!-- <mat-icon matSuffix>face</mat-icon> -->
                        <mat-error *ngIf="contractTarrifForm.get('gst').hasError('required')">
                            GST is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>FSC%</mat-label>
                        <input matInput type="number" min="1" formControlName="fsc">
                        <!-- <mat-icon matSuffix>face</mat-icon> -->
                        <mat-error *ngIf="contractTarrifForm.get('fsc').hasError('required')">
                            FSC is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Discount%</mat-label>
                        <input matInput type="number" min="1" formControlName="discount">
                        <!-- <mat-icon matSuffix>face</mat-icon> -->
                        <mat-error *ngIf="contractTarrifForm.get('discount').hasError('required')">
                            Discount is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>DSC</mat-label>
                        <input matInput type="number" min="1" formControlName="dsc">
                        <mat-error *ngIf="contractTarrifForm.get('dsc').hasError('required')">
                            DSC is required
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Insurance%</mat-label>
                        <input matInput type="number" min="1" formControlName="insurance">

                        <mat-error *ngIf="contractTarrifForm.get('insurance').hasError('required')">
                            Insurance is required
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-md-12 col-sm-12 mb-2 mt-2d">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Others</mat-label>
                        <input matInput type="number" min="1" formControlName="others">

                        <!-- <textarea matInput formControlName="others"></textarea> -->



                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="1"
                            [disabled]="!contractTarrifForm.valid"
                            (click)="oncontractTarrifSubmit(data.actionName,data.tabledatadeatils.Id)">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <form class="register-form m-4" [formGroup]="rateTarrifForm"
            *ngIf="this.data.tabledatadeatils.dailogPage=='ratTarrifDailog'">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <!-- <mat-icon matSuffix>face</mat-icon> -->
                        <mat-error *ngIf="rateTarrifForm.get('name').hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-6 mb-2">
                    
                    <ng-select (change)="onChangeDrowpDown(rateTarrifForm.value.location_tarrif)" 
                            formControlName="location_tarrif" name="location_tarrif" placeholder="Select Country"  (search)="Searcheddata($event,'locationtarrif')"
                                 class="ng-select-bold-border chips-control" [ngClass]="{'error': rateTarrifForm.controls['location_tarrif'].invalid}">
                     <ng-option *ngFor="let item of locationtarriflist" [value]="item.lt_id">{{item.lt_name}} </ng-option>
                    </ng-select>

                </div>
            </div>
            <div class="row">
                <!-- <div class="m-l-10" matTooltip="ADD"> -->
                <span>Changes details:</span>
                <button (click)="addcontent()" class="ml-auto" mat-stroked-button color="primary">Add Data
                </button>
                <div formArrayName="AddedControls">
                    <div class="datavalue-multiple"
                        *ngFor="let n of rateTarrifForm.controls.AddedControls['controls']; index as r; last as isLast">
                        <div [formGroupName]="r">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Weight From</mat-label>
                                        <input matInput type="number" formControlName="weight_from">


                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Weight To</mat-label>
                                        <input matInput type="number" formControlName="weight_to">


                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Price</mat-label>
                                        <input matInput type="number" formControlName="price">


                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Unit</mat-label>
                                        <input type="text" placeholder="Pick one"
                                            [listValidator]="filteredparentoffice | async" [validatorKey]="'office_id'"
                                            aria-label="Number" formControlName="unit" matInput
                                            [matAutocomplete]="rate_options">
                                        <!-- <mat-autocomplete autoActiveFirstOption [displayWith]="displayparentoffice.bind(this)"
                                        #rate_options="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredparentoffice | async"
                                            [value]="option.office_id">
                                            {{option.office_name}}
                                        </mat-option>
                                    </mat-autocomplete> -->
                                    </mat-form-field>


                                </div>
                                <!-- <div class="removedatavalue"> -->
                                <button (click)="remove(r)" mat-icon-button color="warn">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="1"
                            [disabled]="!rateTarrifForm.valid"
                            (click)="onrateTarrifFormSubmit(data.actionName,data.tabledatadeatils.id)">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>



    </div>